
body {
    font-family:'Fuzzy Bubbles', cursive;
    background-color: rgb(255, 253, 240);
    color:rgb(133, 92, 59);
}

h1 {
    font-size: 80px;
}

div {
    background-color: blanchedalmond;
    border-radius: 30px;
    padding: 2.5%;
}

ul {
    list-style: none;
}

h2 ul li {
    margin-right: 2.5%;
    background-color: rgb(177, 127, 86);
    padding: 1%;
    border-radius: 30px;
    margin: 1%;
    font-size: 20px;
    color: white;
}

footer {
    margin: 2.5%;
    background-color: antiquewhite;
    padding: 2.5%;

}